In [5]:
import pandas as pd

In [6]:
# List of daily miles ridden
daily_miles = [55, 65, 50, 75, 60]

In [7]:
# Create a pandas Series with cumulative miles
cumulative_miles = pd.Series(daily_miles).cumsum()

In [8]:
# Display the cumulative miles
cumulative_miles

0     55
1    120
2    170
3    245
4    305
dtype: int64

In [9]:
# Calculate the total miles ridden each day
total_miles_per_day = cumulative_miles.diff()

In [10]:
# Display the total miles per day
total_miles_per_day

0     NaN
1    65.0
2    50.0
3    75.0
4    60.0
dtype: float64